{% extends 'base.html' %}

{% block content %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.image.url}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                <div class="fs-5 mb-5">
                    
                    <span>${{product.price}}</span>
                </div>
                <p class="lead">{{product.description}}</p>
                <div class="d-flex">
                    {% if user.user_role == 'client' %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <input class="form-control text-center me-3" id="inputQuantity" name="cart" type="num" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                        </button>
                    </form>
                    {% endif %}
                    {% if user.user_role == 'seller' %}
                    <div ><a class="btn btn-outline-danger" href="{% url 'seller:delete_book' product.id %}">Remove</a>
                        <a class="btn btn-outline-warning" href="{% url 'seller:edit_book' product.id %}">Update</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}